.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.nav-links{
  height: 84px;
  background-color: black;

  
}
.navbarImg{
  float: left;
  height: 83px;
  border-bottom: 1px solid black;
}
.nav-items button{
  font-size: x-large;
  color: white;
  background-color: black;
  width: 8%;
  height: 84px;
  float: left;
  
}

.nav-items button:hover{
  background: red;
}

.clr{
  clear: both;
}

#main-footer{
  text-align: center;
  font-size: 18px;
}

