/*
Contains app, navabar & footer css
*/
.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.nav-links{
  height: 84px;
  background-color: black;
  
}
.navbarImg{
  float: left;
  height: 83px;
  border-bottom: 1px solid black;
}
.nav-items button{
  font-size: x-large;
  color: white;
  background-color: black;
  width: 8%;
  height: 84px;
  float: left;
  
}

.nav-items button:hover{
  background: red;
}

.clr{
  clear: both;
}

#main-footer{
  text-align: center;
  font-size: 18px;
}

#main-footer em{
  font-style: normal;
  color: darkmagenta;
  font-family: Georgia, 'Times New Roman', Times, serif ;
}

#main-footer i{
  padding: 10px;
  color: darkred;
  font-size: 36px; 
}

#main-footer i:hover{
  color: blue;
}


